.modal-add-invoice {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;


    .ant-modal-content {
        border-radius: 8px;
    }

    .ant-modal-header {
        border-bottom: none;
        padding: 24px 24px 0;
    }

    .ant-modal-body {
        padding: 24px;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;


    }

    .select-all {
        margin-bottom: 12px;
        margin-left: 14px;
    }



    .invoices-list {
        display: flex;
        max-height: 40vh;
        overflow-y: auto;
        flex-direction: column;
        gap: 8px;
    }

    .modal-footer {
        display: flex;
        margin-top: 24px;
        gap: 1rem;


        .button__action__text {
            height: 2.5rem;
            border-radius: 0.5rem;
            padding: 0 0.5rem;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.25rem;
            flex-grow: 1;
            border: none;
            box-shadow: none;


            &__green {
                background-color: #CBE71E;
            }

            &__white {
                background-color: #ffff;
                border: solid 2px;
            }
        }
    }

    .custom-input {
        width: 100% !important;
    }
}

.excel-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}


.container-paste-invoice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}