.custom-card .ant-card-head {
  border-bottom: none !important;
  padding: 1rem !important; /* Quita la línea divisoria */
}
.custom-card .ant-card-body {
  padding: 1rem !important;
  padding-top: 0px !important;
}