@import "@/styles/variables.scss";

.products {
    .line {
        flex: 1;
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 12px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .product {
            color: #333;
            font-weight: bold;
            padding: 0.3rem;
            margin: 2px;
            background-color: $background;
            border-radius: 5px;
            font-size: 0.7rem;
            cursor: pointer;
        }
    }
}