@import "@styles/variables.scss";

.agreement-detail-modal {
    .ant-modal-content {
        padding: 24px;
    }

    &__modal-title {
        font-size: 1.25rem;
        color: $black;

        span {
            font-weight: 300;
        }
    }

    .agreement-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        width: 100%;
    }

    .evidence-value {
        background-color: #f0f0f0;
        padding: 8px;
        border-radius: 4px;
    }

    .submit-button {
        align-self: flex-end;
    }

    .modal-actions-dots {
        margin-bottom: 4px;
    }

    .evidenceSection {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 0.75rem;
            font-weight: 600;
            color: $gray;
            margin-bottom: 6px;
        }
    }

    .evidence-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    .evidence-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        gap: 8px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: $background;
        max-width: 100%;

        p {
            justify-self: flex-start;
            font-size: 1rem;
            font-weight: 400;
            display: -webkit-box; // Required for multi-line truncation
            -webkit-line-clamp: 2; // Number of lines to display
            line-clamp: 2; // Standard property for compatibility
            word-break: break-word;
            -webkit-box-orient: vertical; // Orientation for box
            overflow: hidden;
            max-width: 100%;
        }

        &:hover {
            background-color: #e8e8e8;
        }

        .evidence-time {
            color: #8c8c8c;
            font-size: 12px;
        }
    }

    .evidence-icon {
        min-width: 21px;
    }
}
