@import "@/styles/variables.scss";

.banksTable {
    margin-top: 1rem;

    .ant-table-column-title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .ant-table-tbody {
        overflow-x: hidden;

        &-virtual-scrollbar-horizontal {
            display: none;
        }
    }

    .ant-table-container {
        table {
            .ant-table-cell {
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
                font-size: 1rem !important;
            }
        }
    }

    .cell {
        display: inline-block;
    }

    .idText {
        color: $link;
        text-decoration: underline;
        cursor: pointer;
    }

    .money {
        font-size: 0.875rem;
    }

    .description {
        font-size: 0.875rem;
        font-weight: 400;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .accountBankText {
        font-size: 0.625rem;
        color: $darker-gray;
    }

    .buttonSeeEvidence {
        background-color: $background !important;
    }

    .buttonSeeClient {
        background-color: $background !important ;
    }

    .pagination {
        justify-content: center;
    }
}
