.modalDetailPaymentEvents {
    // padding-left: 36px;
    overflow-y: scroll;
    height: 100%;

    .ant-steps-item-container {
        position: relative;
    }

    .test {
        background-color: yellow;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .comment-step {
        background-color: yellow;
    }
}
