@import "@styles/variables.scss";

.paymentsTab {
    &__header {
        .identifiyPayment {
            background-color: $secondary;
            box-shadow: none;
            color: $black;
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
            height: 3rem;

            &:hover {
                color: $white;
                background-color: $secondary !important;
            }

        }

        .button {
            &__actions {
                padding: 0.75rem 1rem;
                background-color: $background;
                border: solid 1px transparent;
                font-weight: 600;
                display: flex;
                align-items: center;
                height: 3rem;

            }
        }
    }
}