.modal-note-invoice {
    .modal-title {
        display: flex;
        align-items: center;

        .back-arrow {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .modal-subtitle {
        margin-bottom: 20px;
        font-weight: normal;
    }

    .search-container {
        margin-bottom: 20px;
    }

    .adjustments-list {
        max-height: 400px;
        overflow-y: auto;
        gap: .5rem;
    }

    .create-adjustment {
        margin-top: 20px;
        margin-bottom: 20px;

        .create-adjustment-btn {
            background: none;
            border: none;
            color: #0056b3;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}