@import "@styles/variables.scss";

.historyTable {
    margin-top: 1rem;

    .ant-table-column-title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .ant-table-tbody {
        overflow-x: hidden;

        &-virtual-scrollbar-horizontal {
            display: none;
        }
    }

    .ant-table-container {
        table {
            .ant-table-cell {
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
            }
        }
    }

    .cell {
        display: inline-block;

        .highlightText {
            color: $link;
        }
    }

    .eyeButton {
        background-color: $background;
        width: 2rem;
        aspect-ratio: 1/1;

        &:hover {
            background-color: $dark-gray !important;
        }
    }

    .pagination {
        justify-content: center;
    }

    .next {
        transform: rotate(90deg);
    }

    .prev {
        transform: rotate(-90deg);
    }
}

.tooltipHistoryOptions {
    .ant-tooltip-inner {
        padding: 0.75rem !important;
    }
}

.tooltipButton {
    width: 100%;
    background-color: $background !important;
    border: none !important;
    padding: 0.5rem 0.625rem !important;
    padding-top: 0.6rem !important;
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;

    &:hover {
        background-color: $dark-gray !important;
    }
}
